In [1]:
import pandas as pd

### Create a dataframe contains income data by zip code 
Data were downloaded form from IRS (year 2016, Texas) [Link](https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2016-zip-code-data-soi)

In [2]:
# file downloaded from IRS website
fn_irs="2016_zip_code_income_TX.xls"

# read excel file into dataframe
df_irs = pd.read_excel(fn_irs,header=3)

# keep only rows that contain total income data for each zip code
df_irs.dropna(subset=["ZIP\ncode [1]","Total income"],axis=0,inplace=True)
df_irs = df_irs[df_irs['Size of adjusted gross income'].isnull()]

# keep only columns that include zip code, number of returns, total amount of income
df_irs = df_irs.loc[:,['ZIP\ncode [1]','Total income','Unnamed: 18']]

# rename columns and set zip code as index
df_irs.columns = ["zip_code","number_of_returns","total_amount"]
df_irs.set_index('zip_code',inplace=True)

df_irs.head()

         number_of_returns total_amount
zip_code
75001                 9030       846328
75002                29990      2764087
75006                23940      1267845
75007                26050      1812445
75009                 5940       659029

In [8]:
fn_cord = "zip_lat_lng.txt"

# read excel file into dataframe
df = pd.read_csv(fn_cord, dtype={'ZIP': object})
df

         ZIP        LAT         LNG
0      00601  18.180555  -66.749961
1      00602  18.361945  -67.175597
2      00603  18.455183  -67.119887
3      00606  18.158345  -66.932911
4      00610  18.295366  -67.125135
5      00612  18.402253  -66.711397
6      00616  18.420412  -66.671979
7      00617  18.445147  -66.559696
8      00622  17.991245  -67.153993
9      00623  18.083361  -67.153897
10     00624  18.064919  -66.716683
11     00627  18.412600  -66.863926
12     00631  18.190607  -66.832041
13     00637  18.076713  -66.947389
14     00638  18.295913  -66.515588
15     00641  18.263085  -66.712985
16     00646  18.433150  -66.285875
17     00647  17.963613  -66.947127
18     00650  18.349416  -66.578079
19     00652  18.448452  -66.594127
20     00653  17.985033  -66.886536
21     00656  18.053539  -66.792931
22     00659  18.407226  -66.808999
23     00660  18.134695  -67.116199
24     00662  18.468320  -67.015781
25     00664  18.210330  -66.591616
26     00667  18.003422  -67.035810
27     00669  18.277102  -66.869645
28     00670  18.240187  -66.988776
29     00674  18.422908  -66.489337
...      ...        ...         ...
33114  99786  67.167563 -156.338137
33115  99788  66.646856 -143.788895
33116  99789  70.001750 -151.934657
33117  99790  65.390183 -148.326543
33118  99791  70.468398 -156.795478
33119  99801  58.372910 -134.178445
33120  99820  57.436465 -134.227340
33121  99824  58.265381 -134.400144
33122  99825  58.159987 -135.736378
33123  99826  58.710141 -136.736651
33124  99827  59.098771 -135.576936
33125  99829  58.104265 -135.399841
33126  99830  56.771079 -134.089981
33127  99832  58.015478 -136.166143
33128  99833  56.926675 -133.120372
33129  99835  57.000402 -135.076713
33130  99836  56.235218 -134.653499
33131  99840  59.575097 -135.335418
33132  99841  57.794300 -135.184384
33133  99901  55.540405 -131.105347
33134  99903  55.818431 -132.065800
33135  99918  55.916873 -132.695503
33136  99919  55.645594 -132.496820
33137  99921  55.407033 -132.766235
33138  99922  55.307528 -133.046815
33139  99923  56.002315 -130.041026
33140  99925  55.550204 -132.945933
33141  99926  55.138352 -131.470424
33142  99927  56.239062 -133.457924
33143  99929  56.370751 -131.693301

[33144 rows x 3 columns]